@model IEnumerable<Users>
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rezervasyon Yapan Öğrenci Listesi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>


<div class="text-center" style="margin: 50px; font-weight: bold">
    <h4>@ViewData["PName"]</h4>
    <h5>Doluluk Oranı: @ViewData["Doluluk Oranı"]</h5>
</div>
<table class="table table-striped">
    <thead style="color: #fff; background-color: #343a40; border-color: #454d55">
    <tr>
        <th>TC</th>
        <th>İsim Soyisim</th>
        <th>Doğum Tarihi</th>
        <th>Derece</th>
         <th></th>      

    </tr>
    </thead>
    <tbody>
    @foreach (var e in Model)
    {
        <tr>
            <td>@e.TC</td>
            <td>@e.FullName</td>
            <td>@e.DateOfBirth.Year</td>
            <td>@e.Degree</td>
              
            <td>
                <a asp-action="DeleteReservation" asp-route-key="@e.UserID"
                   class="btn btn-danger">
                    Rezervasyonu Sil
                </a>
                <input type="hidden" name="Id" value="@e.UserID" />

            </td>
        </tr>
    }
    </tbody>
</table>



</body>
</html>
