@model IEnumerable<PoolDB>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rezerve Edebileceğiniz Havuz Grupları</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>

<h2>Rezervasyon Yapabileceğiniz Havuz Listesi</h2>

<table class="table table-striped">
    <thead style="color: #fff; background-color: #343a40; border-color: #454d55">
    <tr>
        <th>Havuz İsmi</th>
        <th>Kulvar Numarası</th>
        <th>Derece Bilgisi</th>
        <th>Yaş Bilgisi</th>
        <th>Gün Bilgisi</th>
        <th>Saat</th>
        <th>Rezervasyon Durumu</th>
        <th></th>
            
    </tr>
    </thead>
    <tbody>
    @foreach (var e in Model)
    {
        if (e.BookingStatus != "Dolu")
        {
             <tr>
                 <td>@e.PoolName</td>
                 <td>@e.KulvarNo</td>
                 <td>@e.Degree</td>
                 <td>@e.AgeInfo</td>
                 <td>@e.DayInfo</td>
                 <td>@e.TimePeriod</td>
                 <td>@e.BookingStatus</td>
                 <td>
                     <a asp-action="StudentReservationDetail" asp-route-key="@e.PoolID"
                        class="btn btn-success">
                         Rezerve Et
                     </a>
                     <input type="hidden" name="Id" value="@e.PoolID" />

                 </td>
             </tr>
        }
        else
        {
            <tr>
                <td>@e.PoolName</td>
                <td>@e.KulvarNo</td>
                <td>@e.Degree</td>
                <td>@e.AgeInfo</td>
                <td>@e.DayInfo</td>
                <td>@e.TimePeriod</td>
                <td>@e.BookingStatus</td>
                <td>
                    <button type="button" class="btn btn-danger" disabled>Rezerve Et</button>
                    

                </td>
            </tr>
        }
       
    }
    </tbody>
</table>



</body>
</html>
